{% extends "Tol/base.html" %}
{% block title %} Home page {%endblock%}
{% block script %}

<script>
    var driverCount = 1;

    function incrementValue(driverCount) {
        let count = driverCount - 1;

        var value = parseInt(document.getElementById('bags' + count).value, 10);
        value = isNaN(value) ? 0 : value;
        var capa = parseInt(document.getElementById('capacity'+ count).value,10);
        console.log("value" + value + "capa " + capa);
        if(value<capa) {
            value++;
            document.getElementById('bags' + count).value = value;
        }
        else{
            // document.getElementById("bags" + count).disabled = true;
            document.getElementById("increse" + count).disabled = true;
            document.getElementById("driverName" + count).disabled = true;
            document.getElementById("capacity"+ count).disabled = true;
            document.getElementById("bags" + count).readOnly  = true;
            document.getElementById("addBut").style.display = "inline";
            
        }
        
        
    }

    function add() {

        //Create an input type dynamically.
        var driverName = document.createElement("input");
        var counter = document.createElement("input");
        var incrementButton = document.createElement("input");
        var capacity    =   document.createElement("input") 

        //Assign different attributes to the element.
        driverName.setAttribute("type", "text");
        driverName.setAttribute("name", "driverName");
        driverName.setAttribute("id", "driverName" + driverCount);


        counter.setAttribute("type", "number");
        counter.setAttribute("name", "bags" + driverCount);
        counter.setAttribute("id", "bags" + driverCount);
        counter.setAttribute("value", "0");

        incrementButton.setAttribute("type", "button");
        incrementButton.setAttribute("name", "increse");
        incrementButton.setAttribute("id", "increse" + driverCount);
        incrementButton.setAttribute("value", "increse");
        incrementButton.setAttribute("onclick", "incrementValue(driverCount)");

        capacity.setAttribute("type", "number");
        capacity.setAttribute("name", "capacity")
        capacity.setAttribute("id", "capacity"+driverCount);
        capacity.setAttribute("value", "0");

        {% comment %} let del = driverCount - 1;
        document.getElementById("bags" + del).disabled = true;
        document.getElementById("increse" + del).disabled = true;
        document.getElementById("driverName" + del).disabled = true;
        document.getElementById("bags" + del).readOnly  = true; {% endcomment %}
        
        
        console.log("546789975678966578434567890");
        console.log(driverCount);

        document.getElementById("addBut").style.display = "none";  
        
        document.getElementById("totalGaadi").value = driverCount + 1;

        driverCount = driverCount + 1;


        var foo = document.getElementById("allForm");

        //Append the element in page (in span).
        foo.appendChild(driverName);
        foo.appendChild(counter);
        foo.appendChild(incrementButton);
        foo.appendChild(capacity)


    }
</script>
{%endblock%}
{% block content %}
<form name="form" method="POST" action="#">
    {% csrf_token %}
    <fieldset class="form-group" id="allForm" >
        {% comment %} # kissan ka name {% endcomment %}
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Name</legend>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <input type="text" name="name" id="name" required />
                </div>
            </div>
        </div>
        {% comment %} item name {% endcomment %}
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Item</legend>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <input type="text" name="item_name" id="item_name" required />
                </div>
            </div>
        </div>
        {% comment %} # rate {% endcomment %}
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Rate</legend>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <input type="number" name="rate" id="rate" required />
                </div>
            </div>
        </div>

        {% comment %} # standard bharti {% endcomment %}

        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Standard Bharti</legend>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <input type="number" name="bharti" id="bharti" required />
                </div>
            </div>
        </div>

        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Total Gaddi</legend>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <input type = "number" name = "totalGaadi" id = "totalGaadi" value = "1"/>
                </div>
            </div>
        </div>


        {% comment %} # plus button {% endcomment %}
        {% if  gaddi_wala  %} 
            <input type="text" name="driverName0" id="driverName0" value={{ gaddi_wala }}> Gaddi Wala Name <br> </input>
            <input type="number" name="bags0" id="bags0" value="0"> Bags Count<br> </input>
            <input type="number" name="capacity0" id="capacity0" value={{ capacity }}> Capacity<br> </input>
            <input type="button" id = "increse0" onclick="incrementValue(driverCount)" value="increse" />
        {% else %}
            <input type="text" name="driverName0" id="driverName0" value="GaddiWala Name" > Gaddi Wala Name <br> </input>
            <input type="number" name="bags0" id="bags0" value="0" > Bags Count<br> </input>
            <input type="number" name="capacity0" id="capacity0" value="0"> Capacity<br> </input>
            <input type="button" id = "increse0" onclick="incrementValue(driverCount)" value="increse" />
        {% endif %}

        <input type="button" id= "addBut"  value="Add" onclick="add()" />

        

    </fieldset>

    <button type="submit" name="submit" id="submit" value="submit" class="button">
        End Toll
    </button>
    <button type="submit" name="next" id="next" value="next" class="button">
        Next Toll
    </button>
</form>
{% endblock %}